<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.connection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\emiva\Videos\lpooII-grupo-4-original-master (2)\lpooII-grupo-4-original-master\playadb.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>